<div class="wrapper">
    <div class="form">
            <h1 class="title">Ajouter un employe</h1>
            <form [formGroup]="employeForm" (ngSubmit)="onSubmit()">
                <mat-form-field  appearance="fill">
                    <mat-label>Nom</mat-label>
                    <input
                    matInput 
                        id="nom"
                        formControlName="nom"
                    >
                </mat-form-field>
                <mat-form-field  appearance="fill">
                    <mat-label>Prenom</mat-label>
                    <input
                    matInput 
                        id="prenom"
                        formControlName="prenom"
                    >
                </mat-form-field>
                <mat-form-field  appearance="fill">
                    <mat-label>email</mat-label>
                    <input
                    matInput 
                        id="email"
                        formControlName="email"
                    >
                </mat-form-field>
                <mat-form-field  appearance="fill">
                    <mat-label>numeroTelephone</mat-label>
                    <input
                    matInput 
                        id="numeroTelephone"
                        formControlName="numeroTelephone"
                    >
                </mat-form-field>
                <button mat-button type="submit" [disabled]="!employeForm.valid"class="submit-btn">Submit</button>
        
        </form>
    </div>
    </div>